#formStyleHome {
  padding-right:11vh;
  padding-left: 0;
  font-weight: bold;
}

#h2Form {
  margin-top: 50px;
  color: #77B5F4;
}

#formHome {
  padding-right:11vh;
  padding-left: 0;
  padding-bottom:10px;
  font-weight: bold;
}
