#colorHeader {
  background-color: #006BB9;
  height: 80px;
  padding-left: 80px;
  padding-right: 80px;
}


#tittleAncora {
  color:#FFF;
  padding-right: 30px;
}

#formStyle {
  background-color: white;
  max-width: 400px;
  padding-top:30px;
  font-weight: bold;
  box-shadow: 5px 5px 25px #0000000D;

}

#spaceForm {
  padding-top:1%;
  margin-bottom: 10px;
}

#formLarge{
  padding-top:10px;
  padding-right: 40px;
  padding-left: 40px;

}

#formTittle{
  padding-left: 40px;
}
